In [1]:
from urllib import response
from viadot.config import local_config
from viadot.sources.base import Source
import pandas as pd
import requests
import json
from typing import Dict, Any
from datetime import datetime, date, timedelta


class ExchangeRates(Source):
    """_summary_

    Args:
        Source (_type_): _description_
    """

    def __init__(self, *args, credentials: Dict[str, Any] = None, **kwargs):
        credentials = credentials or local_config.get("EXCHANGE_RATES")
        super().__init__(*args, credentials=credentials, **kwargs)

    def to_json(self) -> dict:
        url = self.credentials["url"]
        headers = {"apikey": self.credentials["apikey"]}
        payload = {
            "start_date": (datetime.today() - timedelta(days=6)).strftime('%Y-%m-%d'),
            "end_date": datetime.today().strftime('%Y-%m-%d'),
            "base": "USD",
            "symbols": "USD,EUR,GBP,CHF,PLN,DKK,COP,CZK,SEK,NOK,ISK",
        }
        response = requests.request(
            "GET", self.credentials["url"], headers=headers, data={}, params=payload
        )

        return json.loads(response.text)

    def to_df(self) -> pd.DataFrame:
        df = pd.DataFrame(self.to_json())
        df2 = pd.json_normalize(df["rates"])
        df.reset_index(inplace=True)
        df = df[["index", "base"]].join(df2)

        return df

In [2]:
er = ExchangeRates()

In [3]:
er.to_json()

{'success': True,
 'timeseries': True,
 'start_date': '2022-10-01',
 'end_date': '2022-10-07',
 'base': 'USD',
 'rates': {'2022-10-01': {'USD': 1,
   'EUR': 1.01991,
   'GBP': 0.896861,
   'CHF': 0.9887,
   'PLN': 4.951725,
   'DKK': 7.58765,
   'COP': 4610.01,
   'CZK': 25.082904,
   'SEK': 11.082965,
   'NOK': 10.886065,
   'ISK': 144.160386},
  '2022-10-02': {'USD': 1,
   'EUR': 1.021205,
   'GBP': 0.89774,
   'CHF': 0.985719,
   'PLN': 4.948602,
   'DKK': 7.594047,
   'COP': 4610.01,
   'CZK': 25.093198,
   'SEK': 11.107795,
   'NOK': 10.876398,
   'ISK': 144.302493},
  '2022-10-03': {'USD': 1,
   'EUR': 1.017115,
   'GBP': 0.882351,
   'CHF': 0.99261,
   'PLN': 4.91015,
   'DKK': 7.564098,
   'COP': 4530.02,
   'CZK': 24.971974,
   'SEK': 11.009365,
   'NOK': 10.641303,
   'ISK': 144.319948},
  '2022-10-04': {'USD': 1,
   'EUR': 1.001605,
   'GBP': 0.873315,
   'CHF': 0.97877,
   'PLN': 4.821805,
   'DKK': 7.449402,
   'COP': 4496.51,
   'CZK': 24.576698,
   'SEK': 10.849301,
   'NOK': 10.4424,
   'ISK': 142.129744},
  '2022-10-05': {'USD': 1,
   'EUR': 1.009015,
   'GBP': 0.88071,
   'CHF': 0.981525,
   'PLN': 4.86275,
   'DKK': 7.50533,
   'COP': 4512.716792,
   'CZK': 24.707001,
   'SEK': 10.93493,
   'NOK': 10.49396,
   'ISK': 142.009662},
  '2022-10-06': {'USD': 1,
   'EUR': 1.021585,
   'GBP': 0.895965,
   'CHF': 0.990175,
   'PLN': 4.99325,
   'DKK': 7.59992,
   'COP': 4613.51,
   'CZK': 25.0286,
   'SEK': 11.152565,
   'NOK': 10.724985,
   'ISK': 142.510104},
  '2022-10-07': {'USD': 1,
   'EUR': 1.023465,
   'GBP': 0.899005,
   'CHF': 0.99098,
   'PLN': 4.99985,
   'DKK': 7.613401,
   'COP': 4613.51,
   'CZK': 25.089005,
   'SEK': 11.185702,
   'NOK': 10.752745,
   'ISK': 142.770204}}}

In [4]:
from datetime import datetime
datetime.today().strftime('%Y-%m-%d')

'2022-10-07'

In [5]:
er.to_df()

,index,base,USD,EUR,GBP,CHF,PLN,DKK,COP,CZK,SEK,NOK,ISK
0,2022-10-01,USD,1,1.019910,0.896861,0.988700,4.951725,7.587650,4610.010000,25.082904,11.082965,10.886065,144.160386
1,2022-10-02,USD,1,1.021205,0.897740,0.985719,4.948602,7.594047,4610.010000,25.093198,11.107795,10.876398,144.302493
2,2022-10-03,USD,1,1.017115,0.882351,0.992610,4.910150,7.564098,4530.020000,24.971974,11.009365,10.641303,144.319948
3,2022-10-04,USD,1,1.001605,0.873315,0.978770,4.821805,7.449402,4496.510000,24.576698,10.849301,10.442400,142.129744
4,2022-10-05,USD,1,1.009015,0.880710,0.981525,4.862750,7.505330,4512.716792,24.707001,10.934930,10.493960,142.009662
5,2022-10-06,USD,1,1.021585,0.895965,0.990175,4.993250,7.599920,4613.510000,25.028600,11.152565,10.724985,142.510104
6,2022-10-07,USD,1,1.023465,0.899005,0.990980,4.999850,7.613401,4613.510000,25.089005,11.185702,10.752745,142.770204

In [25]:
today = datetime.today()
first = today.replace(day=1)
last_month = first - datetime.timedelta(days=1)
print(last_month.strftime("%Y%m"))

AttributeError: type object 'datetime.datetime' has no attribute 'timedelta'

In [35]:
previous_month = (date.today().replace(day=1)) - timedelta(days=1)

In [47]:
(datetime.today() - timedelta(days=6)).strftime('%Y-%m-%d')

'2022-10-01'

'2022-09-30'

In [36]:
previous_month.strftime('%Y-%m-%d')

'2022-09-30'